// górny wiersz stopki 
.fp-footer-top {
    position: relative;
    padding: 80px 0 20px;
    background: url('http://unsplash.it/1472/492?random&gravity=center') 50% 50% no-repeat; 
    background-size: cover;
    &:after {
        @include fp-bg-overlay($fp-black, .75);
    }
}

.fp-footer-top-content {
    @include fp-relative-zindex;
}
.fp-footer-text {
    font-size: .75rem;
    color: $gray-600;

}

.fp-footer-p {
    line-height: 2;

}
.sk-footer-contact-list {
    margin-bottom: .75rem;

}
.sk-footer-contact-item {
    padding: .2rem 0;
}

.fp-social-box {
    @include fp-size(26px, 26px);

}

.fp-newsletter-form-controll {

    height: 1.55rem;
    font-size: .75rem;

}
.fp-newsletter-btn {
    padding: .25rem 1rem;
    font-size: .625rem;
}

// sekcja copyright

.fp-copy {
    padding: 1rem 0;
    font-size: .625rem;
}
.fp-copy-second {
   margin-top: .25rem;
   font-size: 0.5625rem;
}

